<% if favoritings.any? %>
  <ul class="list-unstyled">
    <% favoritings.each do |favorite| %>
      <li class="media">
        <img class="mr-2 rounded" src="<%= gravatar_url(favorite.user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <%= favorite.user.name %>
          </div>
        <div>
            <%= favorite.content %>
        </div>
          <div>
            <p><%= link_to 'View profile', user_path(favorite.user) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate favoritings %>
<% end %>